@use '../../components/details';
@use '../../components/buttons' as button;
@use '../../utilities/responsive';
  

.welcome-container {
    margin: 0.5 0 0 0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    transform: scale(1.0);
}

.welcome {
    margin: 5px;
}

.welcome1 {
    margin-left: 50px;
}

.welcome2 {
   font-family: var(--font-sans);
   margin-right: 10px;
   margin-left: 100px;
}

a.arrow-link {
    color: #93947c;
    position: absolute;
    margin-top: 60px;
    margin-left: 450px;
    justify-items: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: color 0.2s;
}

a.arrow-link:hover {
    color: #93947c;
}

a.arrow-link:hover svg {
    transform: translate(0.5rem, 0.15rem);
}

a.arrow-link svg {
    transform: translate(0, 0.15rem);
    transition: transform 0.2s;
}

a.arrow-link--white line{
    stroke:#93947c;
}

a.arrow-link--white:hover {
    color: var(--color-dark-600);
}

.party {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 50px;
    margin-top: 150px;
}

.party2{
    color: #93947c;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    opacity: 0.3;
}

